<h1>Search Results</h1>

<% if @profiles.present? %>
    <% @profiles.each do |profile| %>
    <div class="well results-block">
        <h3><%= link_to profile.full_name, user_path(profile.user) %></h3>
        <p><strong>Bio: </strong><%= profile.bio %></p>
        <p><strong>Zip: </strong><%= profile.zip %></p>
        <p><strong>Skills: </strong><%= profile.skills %></p>
        <p><strong>Categories: </strong><br>
        <%= profile.user.categories.map { |c| c.name }.join(', ') %>
    </div>
    <% end %>
<% else %>
    <p>Sorry! There are currently no results for your area.</p>
<% end %>