<%= bootstrap_devise_error_messages! %>
<div class="panel-default devise-bs">
  <div class="panel-heading">
    <h2><%= t('.sign_up', default: 'Sign up') %></h2>
  </div>
  <div class="panel-body">
    <p style="font-size:9pt"><span class="req">*</span> indicates required field</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-row row">
        <div class="col-md-3"><h4>Role</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text.gsub("_"," ").capitalize} %>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.fields_for :profile do |p| %>
      <div class="form-row row">
        <div class="col-md-3">
          <h4>Personal Info</h4>
          <div id="profile-pic" class="form-group">
            <label>Profile Pic</label>
            <%= p.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
          </div>
        </div>
        <div class="col-md-9">
          <div id="full-name" class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= p.label :first_name %><span class="req">*</span>
                <%= p.text_field :first_name, autofocus: true, class: 'form-control' %>    
              </div>
              <div class="col-md-6">
                <%= p.label :last_name %><span class="req">*</span>
                <%= p.text_field :last_name, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= p.label :address_1 %>
            <%= p.text_field :address_1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= p.label :address_2 %>
            <%= p.text_field :address_2, class: 'form-control' %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <%= p.label :city %>
                <%= p.text_field :city, class: 'form-control' %>
              </div>
              <div class="col-md-4">
                <%= p.label :state %>
                <%= render '/shared/state_select', :field_name => 'user[profile_attributes][state]', :field_id => 'user_profile_attributes_state' %>
                <input type="hidden" name="user[profile_attributes][country]" value="US" />
              </div>
              <div class="col-md-4">
                <%= p.label :zip %><span class="req">*</span>
                <%= p.text_field :zip, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= p.label :phone_1 %>
            <%= p.text_field :phone_1, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-3"><h4>Bio</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <p>Enter a small bio about yourself:</p>
            <%= p.text_area :bio, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-3"><h4>Skills</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <p>Provide a list of skills that make you suitable for hiring:</p>
            <%= p.text_area :skills, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-3"><h4>Pricing</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <p>Enter your pricing information:</p>
            <%= p.text_area :pricing, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-3"><h4>Social Media</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <p>Enter links to your social media outlets:</p>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Facebook</label>
                  <%= p.text_field :social_fb, class: 'form-control' %>
                </div>
                <div class="col-md-6">
                  <label>Instagram</label>
                  <%= p.text_field :social_in, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="form-row row">
        <div class="col-md-3"><h4>Categories</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-3"><h4>Account Info</h4></div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.label :email %><span class="req">*</span>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-12">
          <div class="submit-container">
            <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>