<h1>Welcome to Hire Neighbors</h1>

<p>Our goal is to bring neighborhoods and communities together by matching neighbors who have skills and talents with neighbors who need those skills.</p>

<p>With a focus on local retirees and stay at home moms/dads who want to advertise their skills and capabilities for hire and gain some extra income, keep their skills fresh, stay active and engage with others in their neighborhood.</p>

<ul>
    <li>Are you one of the millions of baby boomers reaching retirement age?</li> 
    <li>Are you a talented and skilled stay at home mom or dad?</li> 
    <li>Do you want or need supplemental income?</li> 
    <li>Do you want to continue to use your talents and skills developed over years of working?</li> 
    <li>Do you have a hobby or a passion you want to be your second career?</li> 
    <li>Do you NOT want to go back into a corporate job or even a part time job?</li> 
</ul>

<p>If so, this site is for you!! What can you sell? See examples below:</p>

<p>Examples:</p>

<ul>
    <li><label>Retired teachers:</label> Can you offer tutoring services or to be a trusted driver to pick up your neighbor’s children after school</li>
    <li><label>Retired CPA, Lawyers etc:</label> Can you offer consulting services – to find the right lawyer or review legal documents</li>
    <li><label>Retired marketing professionals:</label> Consulting or writing services for small business owners in the neighborhood</li>
    <li><label>Hobbies:</label> Are you passionate about cake making or sewing, or are you a handy man and can help with small repairs around the house?</li>
    <li><label>Love animals:</label> how about dog walking or house sitting and taking care of your neighbor’s pet.</li>
</ul>

<p>I think you get the idea, right? </p>

<p>This website can help you to market your skills to your neighbors and maybe even kick start a new career, but more importantly help you with a little bit of additional monthly income and help you to utilize and share the talent we have in our community.</p>

<%- if @local_users.present? -%>
<section id="nearby-offerings">
<h3>Nearby offerings</h3>
<h4>Some jobseekers near you looking to be hired</h4>
<div class="users row">
<% @local_users[0..3].each do |l| %>
    <div class="user col-md-3">
        <div class="profile-pic"><img src="<%= l.avatar.present? ? "/uploads/profile/avatar/#{l.user.id}/#{l.avatar}" : "/assets/default_profile.jpg" %>" alt=""></div>
        <h4 class="name"><%= link_to l.full_name, user_path(l) %></h4>
        <p class="location"><%= "#{l.city}, #{l.state}" %></p>
        <p class="bio"><%= l.bio %></p>
    </div>
<% end %>
</div>
</section>
<%- end -%>

<%- if @best_reviews.present? -%>
<section id="top-rated-experiences">
<h3>Top-rated experiences</h3>
<h4>See what your neighbors have experienced</h4>
<div class="reviews row">
    <% @best_reviews[0..3].each do |b| %>
    <div class="review col-md-3">
        <h2><%= b.title %></h2>
        <div class="date"><%= b.created_at.strftime("%B %d, %Y") %></div>
        <div class="rating"><div class="stars"><div class="stars-<%= b.rating %>"></div></div></div>
        <div class="detail"><p><%= b.review %></p></div>
        <div class="posted-by">
            <img src="<%= b.profile.avatar.url %>" alt="" style="border-radius:50%;height:30px;width:30px;" />
            <label><%= b.user.profile.first_name %></label>
        </div>
    </div>
    <% end %>
</div>
</section>
<%- end -%>