<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "HireNeighbors" %></title>
<%= csrf_meta_tags %>

<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Playfair+Display+Oswald" rel="stylesheet">
<%= stylesheet_link_tag "application", :media => "all" %>

<%= javascript_include_tag "application" %>

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<![endif]-->
</head>
<body class="<%= action_name %>">

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">HireNeighbors</a>
        <%- unless current_page?(root_url) -%>
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for a neighbor", class: 'form-control' %>
            <%= submit_tag "Search", :name => nil, :class => 'btn btn-md' %>
        <% end %>
        <%- end -%>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
            <!-- Search will go here -->
            </ul>
            <ul class="nav navbar-right col-md-6">
                <li><%= link_to "About", about_path, class: 'btn btn-xs'  %></li>
                <li><%= link_to "How It Works", how_it_works_path, class: 'btn btn-xs'  %></li>
                <li><%= link_to "Help", help_path, class: 'btn btn-xs'  %></li>
                <% if current_user %>
                <li id="profile-info">
                    <img src="<%= current_user.profile.avatar.url %>" alt="" />
                    <ul>
                        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                </li>
                <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-xs'  %></li>
                <li><%= link_to 'Log In', new_user_session_path, class: 'btn btn-xs' %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<%- if current_page?(root_url) -%>
<div id="hero-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="index-search">
                    <h2>Find a neighbor near you</h2>
                    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search for a neighbor", class: 'form-control' %>
                        <%= submit_tag "Search", :name => nil, :class => 'btn btn-md' %>
                    <% end %>
                </div>  
            </div>
        </div>
    </div>
</div>
<%- end -%>

<div class="container">
    <div class="row">
        <%- if current_page?(root_url) %>
        <div class="col-md-12"><%= yield %></div>
        <%- else -%>
        <div id="left-column" class="col-md-3"><div class="inner"><%= render 'layouts/left_column' %></div></div>
        <div id="right-column" class="col-md-9">
            <div class="inner">
                <%= bootstrap_flash %>
                <%= yield %>
            </div>
        </div>
        <%- end -%>
    </div><!--/row-->

    <%= render 'layouts/footer' %>

</div> <!-- /container -->

<%#= debug(params) %>

</body>
</html>